/*=============================================================================
	ОБНУЛЕНИЕ
=============================================================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*=============================================================================
	/ОБНУЛЕНИЕ
=============================================================================*/

/*=============================================================================
	ПОДКЛЮЧЕНИЕ ШРИФТОВ
=============================================================================*/

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v17-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v17-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v17-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v17-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/lato-v17-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v17-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('https://nomail.com.ua/files/woff/629a55a7e793da068dc580d184cc0e31.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: local('OpenSans-Bold'), url('https://nomail.com.ua/files/woff/50145685042b4df07a1fd19957275b81.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato-Regular'), url('https://nomail.com.ua/files/woff/1835f7d3644d5bb0f03ed5fdb40898d4.woff') format('woff');
}


/*=============================================================================
	/ПОДКЛЮЧЕНИЯ ШРИФТОВ
=============================================================================*/

/*=============================================================================
	НАСТРОЙКИ РОДИТЕЛЕЙ
=============================================================================*/

/* Настройка подсчета ширины блока при добавление паддингов не увеличивает размер блока (делает паддинги во внутрь) */
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Наследование всех тегов от настройка подсчета ширины родительского блока блока (html) */
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "OpenSans";
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

img {
    /* чтобы изображение никогда не превышало размер контейнера */
    max-width: 100%;
    /* и чтобы пропорционально сжималось по высоте */
    height: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Ограничение контента */
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Ограничение контента шире */
.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-family: "OpenSans-Bold";
    font-size: 28px;
    line-height: 22px;
    position: relative;
    padding-bottom: 10px;
    color: #102746;
}

.section-title::after {
    display: block;
    content: '';
    width: 200px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*=============================================================================
	/НАСТРОЙКИ РОДИТЕЛЕЙ
=============================================================================*/

/*=============================================================================
	HEADER STYLE
=============================================================================*/

.header {
    /* фиксируем меню навигации */
    position: fixed;
    /* прибьет к верхней части экрана */
    top: 0;
    /* выравниваем по левой части экрана */
    left: 0;
    /* чтобы всегда занимал 100% ширины экрана */
    width: 100%;
    /* плавный переход темного фона при скроле */
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    /* индекс чтобы хедер гарантированно был всегда поверх остальных блоков*/
    z-index: 999;
}

.header_active {
    background: rgb(38, 98, 210);
    background: rgba(38, 99, 210, 0.95);
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* при заполнении строки переносится на другую строку, иначе будет наезжать друг на друга */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* выравнивает по центру блока*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* выравнивает по краям контейнера*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* отступ блока header сверху и снизу */
    padding-top: 20px;
    padding-bottom: 20px;

}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* переносит каждый элемент на новый столбец */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header__item {
    /* отступ для элемента */
    margin-right: 20px;
    letter-spacing: 1px;
}

.header__logo {
    max-width: 50px;
    /* margin-bottom: 37px; */
}

/* полследний дочерний элемент внутри списка */
.header__item:last-child {
    /* обнуляем отступ для последнего элемента, так как в макете последний элемент прилипает к краю контейнера */
    margin-right: 0px;
}


.header__contact-info {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    /* margin-left: 30px; */
    letter-spacing: 1px;
}


.header__contact-address {
    /* font-size: 16px; */
    color: #fff;
    text-decoration: none;
    padding-left: 28px;
    /* background: url(../img/svg/new/loc-5.svg) no-repeat right center; */

}

.header__contact-address:hover,
.header__contact-address:focus {
    color: rgb(223, 223, 223);
    background: url(../img/svg/new/loc-5.svg) no-repeat left center;
}

.white-hover:hover,
.white-hover:focus {
    color: rgb(223, 223, 223);
}

.header__contact-phone {
    /* font-size: 16px; */
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    /* background: url(../img/svg/new/phone-1.svg) no-repeat right center; */

}

.header__contact-phone:hover,
.header__contact-phone:focus {
    color: rgb(223, 223, 223);
    background: url(../img/svg/new/phone-1.svg) no-repeat left center;
}

.header__contact-mail {
    /* font-size: 16px; */
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    /* background: url(../img/svg/new/email-5.svg) no-repeat right center; */

}

.header__contact-mail:hover,
.header__contact-mail:focus {
    background: url(../img/svg/new/email-5.svg) no-repeat left center;
    color: rgb(223, 223, 223);
}

.header__contact-time {
    color: #ffffff;
    letter-spacing: 1px;
}

.header__contact-time-days {
    color: #fff;
    text-decoration: none;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/*=============================================================================
	/HEADER STYLE
=============================================================================*/

/*=============================================================================
	INTRO STYLE
=============================================================================*/

.intro {
    /* временно задаем высоту для отображения бекраунда, высота равная 100% высоты экрана */
    min-height: 100vh;
    background: url(../img/bg7.jpg) no-repeat center;
    background-size: cover;
    /* отступ для контента */
    padding-top: 120px;
    padding-bottom: 142px;
}

.intro__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #0f2441;
    max-width: 619px;
    margin-bottom: 22px;
    font-family: OpenSans-Bold;
}

.intro__subtitle {
    font-size: 20px;
    line-height: 22px;
    color: #102746;
    max-width: 546px;
    margin-bottom: 50px;
}

.search-form__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.search-form__field {
    /* фиксированная ширина инпута */
    width: auto;
    height: 38px;
    /* прозрачный фон */
    background-color: transparent;
    /* background: url(../img/svg/new/icontexto-search-17_icon-icons.com_76913.ico) no-repeat left 0px; */
    /* задаем фиксированный размер иконки круга */
    /* убираем рамку */
    border: 0;
    /* нижняя полоска */
    border-bottom: 1px solid #102746;
    /* отступ между инпутами */
    margin-right: 10px;
    /* отступ для вводимого текста */
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
    color: #000000;
    font-family: "OpenSans";
}

.search-form__field::-webkit-input-placeholder {
    font-size: 18px;
    color: #102746;
}

.search-form__field::-moz-placeholder {
    font-size: 18px;
    color: #102746;
}

.search-form__field:-ms-input-placeholder {
    font-size: 18px;
    color: #102746;
}

.search-form__field::-ms-input-placeholder {
    font-size: 18px;
    color: #102746;
}

.search-form__field::placeholder {
    font-size: 18px;
    color: #102746;
}


/*=============================================================================
	/INTRO STYLE
=============================================================================*/

/*=============================================================================
	BENEFITS STYLE
=============================================================================*/

.benefits {
    margin-bottom: 130px;
}

.benefits__wrap {
    position: relative;
    max-width: 1262px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.4);
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.4);
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 50px 100px 50px 100px;
    position: absolute;
    top: 0;
    left: 0;
    /* Сдвигаем на 100% его собоственной высоты элемента */
    transform: translateY(-100%);
    background-color: #fff;
    font-family: "OpenSans-Bold";
    color: #102746;
}

.benefits__cards {
    display: -ms-grid;
    display: grid;
    /* делим на 3 колонки */
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    /* отступ между колонками */
    -webkit-column-gap: 55px;
    -moz-column-gap: 55px;
    column-gap: 55px;
    padding: 0 100px;
}

.benefits__card {
    /* чтобы карточки занимали по 1 колонке */
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 80px;
}

.benefits_card-thumb {
    /* убираем отступы у картинки */
    display: block;
}

.benefits__card-pic {
    max-width: 66px;
    margin-bottom: 15px;
}

.benefits__card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 15px;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 22px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

/*=============================================================================
	/BENEFITS STYLE
=============================================================================*/


/*=============================================================================
	BUTTONS
=============================================================================*/

.sz {
    text-decoration: none;
}

.btn {
    font-family: "OpenSans";
    letter-spacing: 0.7px;
    border: 1px solid #ccc;
    background: none;
    padding: 10px;
    display: block;
    text-align: center;
    color: #fff;
    width: 140px;
    margin: auto;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn:hover {
    -moz-box-shadow: 0 0 6px #fff;
    -webkit-box-shadow: 0 0 6px #fff;
    color: #fff;
    box-shadow: 0 0 6px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button1 {
    width: 38px;
}

.btn-found {
    font-family: "OpenSans";
    letter-spacing: 0.6px;
    border: 1px solid #ccc;
    background: none;
    padding: 0px 20px;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 0px;
}

.btn-found:hover {
    -moz-box-shadow: 0 0 6px #fff;
    -webkit-box-shadow: 0 0 6px #fff;
    color: #fff;
    box-shadow: 0 0 6px #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-seemore {
    width: 120px;
    padding: 12px 12px;
    background: #006DFE;
    text-decoration: none;
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: auto 0 0 0;
}

.btn-seemore:hover,
.btn-seemore:focus,
.btn-seemore:active {
    background: #0e66da;
}

/*=============================================================================
	/BUTTONS
=============================================================================*/

/*=============================================================================
	НАВИГАЦИЯ
=============================================================================*/

.link-hover-center a {
    font-family: "OpenSans-Bold";
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    color: #ffffff;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.link-hover-center a:after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
    width: 100%;
}

/*=============================================================================
	/НАВИГАЦИЯ
=============================================================================*/

/*=============================================================================
	PICS
=============================================================================*/
.pics {
    margin-bottom: 130px;
}

.pics__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 36px;
}

.pics__view-all {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 50px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.pics__view-all:hover,
.pics__view-all:focus {
    opacity: 0.75;
}

.pics__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.pics__card {
    position: relative;
    overflow: hidden;
}

.pics__card:hover .pics__card-pic {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.pics__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.pics__card-size-lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.pics__card-size-sm {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.pics__card-pic-lg {
    height: 354px;
    /* способ масштабирования изображения внутри контейнера */
    -o-object-fit: cover;
    object-fit: cover;
}

.pics__card-pic-sm {
    height: 283px;
    /* способ масштабирования изображения внутри контейнера */
    -o-object-fit: cover;
    object-fit: cover;
}

.pics__card-pic {
    /* размер изображения по всему контейнеру */
    width: 100%;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.pics__card-title {
    font-size: 48px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.pics__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*=============================================================================
	/PICS
=============================================================================*/

/*=============================================================================
	POSTS
=============================================================================*/
.posts {
    margin-bottom: 130px;
}

.posts__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 75px;
}

.post__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 354px;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding-left: 0px;
}

.post__title {
    color: #102746;
    font-size: 30px;
    font-weight: bold;
}

.post__desc {
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0 15px 0;
}

.post__more {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 50px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.post__more:hover,
.post__more:focus {
    opacity: 0.75;
}

.post__picture-img-sz {
    height: 354px;
    /* способ масштабирования изображения внутри контейнера */
    -o-object-fit: cover;
    object-fit: cover;
}

/*=============================================================================
	/POSTS
=============================================================================*/

/*=============================================================================
	ARTICLES
=============================================================================*/

.articles {
    margin-bottom: 70px;
}

.articles__title {
    margin-bottom: 36px;
    display: inline;
}

.articles__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 57px;
    -moz-column-gap: 57px;
    column-gap: 57px;
    row-gap: 57px;
}

.articles__item-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 15px 5px 15px 20px;
}

.article__item-title {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0 auto 0 0;
    padding-right: 10px;
    min-width: 0;
}

.article__item-picture {
    position: relative;
    margin-bottom: 15px;
}

.articles__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.artcile__item-likes {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    padding-right: 18px;
    background: url(../img/svg/like-ico.svg) no-repeat right;
    background-size: 14px;
    margin-right: 5px;
    text-align: end;
}

.article__item-comments {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    padding-right: 20px;
    background: url(../img/svg/comment-ico.svg) no-repeat right;
    background-size: 14px;
    margin-right: 14px;
    text-align: end;
}

.article__item-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}

.articals__item-pic {
    height: 372.67px;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

/*=============================================================================
	/ARTICLES
=============================================================================*/

/*=============================================================================
	VIDEOS
=============================================================================*/

.videos {
    width: 100%;
    display: none;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*=============================================================================
	/VIDEOS
=============================================================================*/

/*=============================================================================
	FOOTER
=============================================================================*/

.footer {
    background: rgb(28, 79, 173);
    color: #fff;
    font-size: 16px;
    padding: 30px 0;
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__left-copyright {
    line-height: 24px;
    letter-spacing: 0.4px;
    max-width: 190px;
}

.footer__contacts-address {
    margin-right: 50px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.footer__contact-coordinate {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding-right: 35px;
    background: url(../img/svg/new/loc.svg) no-repeat right center;
}

.footer__contact-coordinate:hover,
.footer__contact-coordinate:focus {
    border-bottom: 1px #fff solid;
}

.footer__contact-time {
    margin-right: 50px;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.footer__contact-items {
    line-height: 24px;
    letter-spacing: 0.4px;
}

.footer__contact-phone {
    color: #fff;
    padding-left: 28px;
    background: url(../img/svg/new/phone-1.svg) no-repeat left center;
    background-size: 18px;
}

.footer__contact-phone:hover,
.footer__contact-phone:focus {
    border-bottom: 1px #fff solid;

}

.footer__contact-mail {
    color: #fff;
    padding-left: 28px;
    background: url(../img/svg/new/email-5.svg) no-repeat left center;
    background-size: 18px;
    background-position-y: bottom;
}

.footer__contact-mail:focus,
.footer__contact-mail:hover {
    color: #fff;
    border-bottom: 1px #fff solid;

}


/*=============================================================================
	FOOTER
=============================================================================*/

/*=============================================================================
	MEDIA
=============================================================================*/

@media screen and (max-width: 1025px) {
    .articles {
        margin-bottom: 60px;
    }

    .articles__items {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
        row-gap: 30px;
    }

    .articals__item-pic {
        height: 311.33px;
    }

    .article__item-title {
        font-size: 16px;
        line-height: 22px;
    }

    .article__item-text {
        font-size: 16px;
        line-height: 22px;
    }

    .posts {
        margin-bottom: 100px;
    }

    .posts__item {
        -webkit-column-gap: 35px;
        -moz-column-gap: 35px;
        column-gap: 35px;
        margin-bottom: 50px;
    }

    .post__title {
        font-size: 24px;
    }

    .post__desc {
        line-height: 22px;
    }

    .benefits {
        margin-bottom: 20px;
    }

    .benefits__wrap {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media screen and (max-width: 960px) {
    .pics {
        margin-bottom: 100px;
    }

    .posts {
        margin-bottom: 100px;
    }

    .benefits__card-desc {
        line-height: 20px;
    }

    .post__title {
        line-height: 26px;
    }

    .post__desc {
        line-height: 20px;
    }

    .articles {
        margin-bottom: 60px;
    }

    .articles__items {
        row-gap: 55px;
    }

    .articles__item {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .article__item-text {
        line-height: 20px;
    }

    .header__burger {
        display: block;
    }

    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        transition: 0.2s all linear;
    }

    .header__nav_active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 90%;
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-size: 42px !important;
        line-height: 48px !important;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        width: 100%;
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }

    /* отрасли права */
    .benefits {
        margin-bottom: 30px;
    }

    .benefits__cards {
        padding: 0 15px;
        -webkit-column-gap: 35px;
        -moz-column-gap: 35px;
        column-gap: 35px;
    }

    .benefits__card {
        margin-bottom: 20px;
    }

    .benefits__title {
        padding: 45px 15px;
        font-size: 28px;
    }

    .benefits__wrap {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .pics__card-size-lg {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .pics__card-size-sm {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .pics__caption {
        margin-bottom: 24px;
    }
}

@media screen and (max-width:782px) {
    .footer {
        padding: 20px 0;
    }

    .footer__item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer__left-copyright {
        max-width: 100%;
        margin-top: 10px;
    }
}


@media screen and (max-width:767px) {
    .header__wrapper {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        padding: 3px 0 8px 0;
    }

    .header__logo {
        display: none;
    }

    .benefits__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .search-form__field {
        width: 100%;
        width: 200px;
        height: 34px;
        padding: 0;
        font-size: 16px;
    }

    .search-form__field::-webkit-input-placeholder {
        font-size: 16px;
    }

    .search-form__field::-moz-placeholder {
        font-size: 16px;
    }

    .search-form__field:-ms-input-placeholder {
        font-size: 16px;
    }

    .search-form__field::-ms-input-placeholder {
        font-size: 16px;
    }

    .search-form__field::placeholder {
        font-size: 16px;
    }

    .intro__title {
        font-size: 26px;
        line-height: 26px;
    }

    .header__contact-info {
        grid-column: span 7;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    .header__contact-time-days {
        display: none;
    }

    .header__contact-time {
        display: none;

    }

    .btn {
        margin-top: 3px;
        padding: 5px;
        width: 100%;
    }

    .header__contact-address {
        padding-left: 16px;
        -ms-grid-column-span: 2;
        grid-column: span 2;
        background: url(../img/svg/new/loc-5.svg) no-repeat left center;
        background-size: 14px;
    }

    .header__contact-address:hover,
    .header__contact-address:focus {
        background-size: 14px;
    }

    .header__contact-phone {
        padding-left: 17px;
        -ms-grid-column-span: 2;
        grid-column: span 2;
        background: url(../img/svg/new/phone-1.svg) no-repeat left center;
        background-size: 14px;
    }

    .header__contact-phone:hover,
    .header__contact-phone:focus {
        background: none;
    }

    .header__contact-mail {
        padding-left: 16.5px;
        -ms-grid-column-span: 2;
        grid-column: span 2;
        background: url(../img/svg/new/email-5.svg) no-repeat left center;
        background-size: 14px;
    }

    .header__contact-mail:hover,
    .header__contact-mail:focus {
        background: none;
    }

    .sz {
        width: 100%;
        -ms-grid-column-span: 8;
        grid-column: span 8;
    }

    .header__burger {
        grid-area: 1/8;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
    }

    .mid {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
    }

    .pics {
        margin-bottom: 76px;
    }

    .pics__card-pic-lg,
    .pics__card-pic-sm {
        height: 230px;
    }

    .posts {
        margin-bottom: 70px;
    }

    .post__picture,
    .post__info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    .post__picture_mob-first {
        /* Перекидываем картинку на верх поста */
        grid-row-start: -1;
    }

    .article__item-title {
        overflow: hidden;
    }
}

@media screen and (max-width:500px) {
    .header__nav {
        padding: 75px 30px;
    }

    .button1 {
        width: 35px;
    }

    .header__link {
        font-size: 40px !important;
    }

    .intro {
        padding-top: 110px;
        min-height: 100vh;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#004dd3+0,679bd3+100 */
        background: #004dd3;
        /* Old browsers */
        /* FF3.6-15 */
        /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(315deg, #004dd3 0%, #679bd3 100%);
        background: linear-gradient(135deg, #004dd3 0%, #679bd3 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004dd3', endColorstr='#679bd3', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }

    .intro__title {
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
    }

    .intro__subtitle {
        line-height: 20px;
        margin-bottom: 30px;
        color: rgb(0, 0, 0);
    }

    .benefits__title {
        font-size: 24px;
        line-height: 30px;
        color: rgb(0, 0, 0);
        padding: 25px 15px;
    }

    .benefits {
        margin-bottom: 15px;
    }

    .benefits__card-title {

        margin-bottom: 10px;
    }

    .benefits__card-pic {
        margin-bottom: 10px;
    }

    .benefits__card-more {
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 24px;
        line-height: 14px;
        letter-spacing: -1.5px;
    }

    .section-title::after {
        display: block;
        content: '';
        width: 160px;
        height: 2px;
    }

    .pics__view-all {
        font-size: 15px;
        background-size: 16px;
        padding-right: 18px;
    }

    .wrapper {
        padding: 0 10px;
    }

    .wrapper-full {
        padding: 0 10px;
    }

    .pics__caption {
        margin-bottom: 15px;
    }

    .pics__card-title {
        font-size: 28px;
        line-height: 32px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .post__picture {
        margin-bottom: 5px;
    }

    .post__picture-img-sz {
        height: 250px;
    }

    .post__title {
        font-size: 20px;
        line-height: 20px;
    }

    .post__info {
        -ms-flex-line-pack: start;
        align-content: flex-start;
        height: auto;
    }

    .articles__title {
        margin-bottom: 15px;
    }

    .articles__item {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .articles {
        margin-bottom: 50px;
    }

    .footer {
        padding: 15px 0;
    }

    .footer__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 100%;
    }

    .footer__contact-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 9px;
    }

    .footer__contacts-address {
        line-height: 20px;
        margin: 0 auto;

    }

    .footer__left-copyright {
        display: none;
    }

    .footer__contact-items {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

    }

    .footer__contact-coordinate {
        background-size: 18px;
        padding-right: 26px;
    }

    .footer__contact-time {
        display: none;
    }

    .footer__contact-phone {
        padding-left: 22px;
        background: url(../img/svg/new/phone-1.svg) no-repeat left center;
        background-size: 17px;
        margin-right: 10px;
    }

    .footer__contact-mail {
        padding-left: 22px;
        background: url(../img/svg/new/email-5.svg) no-repeat left center;
        background-size: 18px;
    }

    .footer__item {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

}

@media screen and (max-width:375px) {
    .post__picture-img-sz {
        height: 200px;
    }
}

/*=============================================================================
	/MEDIA
=============================================================================*/
